<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artace.arthub">

    <!-- PERMISSION -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".controller.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterSenimanActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artace.arthub.MainActivity" />
        </activity>
        <activity
            android:name=".OrganizerMainActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artace.arthub.MainActivity" />
        </activity>
        <activity android:name=".TambahEventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artace.arthub.OrganizerMainActivity" />
        </activity>
        <activity android:name=".RegisterEventOrganizerActivity" />
        <activity android:name=".EventTerimaTolakActivity" />
        <activity
            android:name=".EventDetailActivity"
            android:parentActivityName=".OrganizerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artace.arthub.OrganizerMainActivity" />
        </activity>
        <activity android:name=".EoSenimanActivity" />
        <activity android:name=".ItemPortfolioList" />
        <activity
            android:name=".SenimanMainActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".YoutubePlayerViewActivity" />
        <activity android:name=".ListSenimanDetailEventActivity" />
        <activity android:name=".EventKirimTawaranTampilActivty" />
        <activity android:name=".ShowPictureActivity"></activity>
    </application>

</manifest>